## TASK2 (20 pts)

<b>For this task you are going to use two files.
- 1)<b> First of them is the turkey_cities.csv at https://raw.githubusercontent.com/GeoTurkey/GMT_COURSES/main/turkey_cities.csv which gives the latitude and longitude information (geographic coordinates) of the city centers in Turkey.
    
- 2)<b> The second one is 2022_turkey_age_population.csv at https://raw.githubusercontent.com/GeoTurkey/GMT_COURSES/main/2022_turkey_age_population.csv which provides population number of different age groups in Turkey based on cities.

### Write your answers and codes for each tasks (a-h) below.

In [51]:
# Import the necessary libraries to run the tasks.
import pandas as pd

- <b>a) Import these two csv files as dataframes df_1 and df_2 in order.

In [52]:
# a) Write your code here
df1 = pd.read_csv('turkey_cities.csv')
df2  =pd.read_csv('2022_turkey_age_population.csv')

- <b>b) Merge these two Pandas DataFrames on certain column using the merge function. The new merged dataframe's name must be "df_merged".

In [53]:
# b) Write your code here
df = pd.merge(df1,df2)
df.head()

,City,Latitude,Longitude,Total_Population,0-14,15-65,65<
0,ADANA,36.98451,35.33368,2 274 106,539 247,1 523 411,211 448
1,ADIYAMAN,37.75545,38.27349,635 169,177 617,404 271,53 281
2,AFYONKARAHİSAR,38.75812,30.53685,747 555,155 692,503 604,88 259
3,AĞRI,39.71467,43.04015,510 626,168 409,314 555,27 662
4,AMASYA,40.65157,35.82666,338 267,59 219,226 126,52 922

- <b>c) Convert the datatype of each column of this merged dataframe except the city to the numeric integer type.

In [60]:
# c) Write your code here
columnsToConvert = ['Total_Population', '0-14', '15-65', '65<']
for column in columnsToConvert:
    df[column] = df[column].astype(str)
    df[column] = df[column].str.replace(' ','')
    df[column] = df[column].astype(int)

- <b>d) Create three new columns that each showing the ratio of each age group among the total population for each city.

In [62]:
# d) Write your code here
df['Ratio:0-14'] = df['0-14']/df['Total_Population']
df['Ratio:15-65'] = df['15-65']/df['Total_Population']
df['Ratio:65<'] = df['65<']/df['Total_Population']

,City,Latitude,Longitude,Total_Population,0-14,15-65,65<,Ratio:0-14,Ratio:15-65,Ratio:65<
0,ADANA,36.98451,35.33368,2274106,539247,1523411,211448,0.237125,0.669894,0.092981
1,ADIYAMAN,37.75545,38.27349,635169,177617,404271,53281,0.279637,0.636478,0.083885
2,AFYONKARAHİSAR,38.75812,30.53685,747555,155692,503604,88259,0.208268,0.673668,0.118064
3,AĞRI,39.71467,43.04015,510626,168409,314555,27662,0.329809,0.616018,0.054173
4,AMASYA,40.65157,35.82666,338267,59219,226126,52922,0.175066,0.668484,0.156450

- <b>e) Write down the code that outputs the cities for which the ratio of people over 65 is greater than 0-14 ratio age group.

In [66]:
# e) Write your code here 
for i in range(0,len(df)):
    if df['Ratio:0-14'][i] < df['Ratio:65<'][i]:
        print(df['City'][i])

ARTVİN
ÇANAKKALE
EDİRNE
GİRESUN
KASTAMONU
KIRKLARELİ
TUNCELİ
BARTIN
SİNOP
BALIKESİR

- <b>f) Write the code that gives the first 5 cities with the highest ratio of young people in the total city population.

In [70]:
# f) Write your code here
df.sort_values(by='0-14', ascending=False).head(5)['City']

76     İSTANBUL
5        ANKARA
57    ŞANLIURFA
77        İZMİR
14        BURSA
Name: City, dtype: object

- <b>g) Just write the code that only prints the infos of your city (MapRegion column from the excel).

In [76]:
# g) Write your code here
df.loc[df['City'] == 'ESKİŞEHİR']

,City,Latitude,Longitude,Total_Population,0-14,15-65,65<,Ratio:0-14,Ratio:15-65,Ratio:65<
23,ESKİŞEHİR,39.76853,30.49444,906617,157332,637164,112121,0.173537,0.702793,0.12367

- <b>h1) Write a code that saves your city data (row) alone as one csv file.

In [82]:
# h1) Write your code here
myCity = df.loc[df['City'] == 'ESKİŞEHİR']
myCity.to_csv(f"Eskişehir.csv", index=False, encoding='iso-8859-9')